http {
   # Настройка upstream для балансировки нагрузки
   upstream backend_servers {
       server backend1.example.com;
       server backend2.example.com;
       server backend3.example.com;
   }
   
   # ограничение на частоту запросов в минуту
   limit_req_zone $binary_remote_addr zone=api_rate_limit:10m rate=10r/m;

   server {
       listen 80;

       location / {
	   
		   # включаем ограничение  запросов
		   limit_req zone=api_rate_limit;
		   
		   # при превышения лимита запросов отдаем 429 ошибку
		   limit_req_status 429;
		   
           proxy_pass http://backend_servers;
       }

   }
} 